.dashboard {
    font-size: 25px;
    text-align: center;  
}

.meal-card-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-flow: dense;
    margin: 0 auto;
    max-width: 800px;
}